.marrison-update-badge {
    display: inline-block;
    background-color: #d63638;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
    min-width: 7px;
    padding: 0 6px;
    text-align: center;
}

#adminmenu .marrison-update-badge {
    position: relative;
    top: -1px;
    left: 2px;
}

#adminmenu .wp-submenu a[href="admin.php?page=marrison-updater"] {
    position: relative;
}

#adminmenu .wp-submenu a[href="admin.php?page=marrison-updater"]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #d63638;
    border-radius: 50%;
}
